<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - MovieMate</title>
	<link rel="icon" href="/static/assets/img/logo.png" type="image/png">

    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="/static/assets/css/app.css">

    <link rel="stylesheet" href="/static/assets/css/theme.css">
	    <style>
        /* 导航栏样式 */
        .navbar-collapse {
            padding: 0 15px;
        }
        .navbar-nav {
            display: flex;
            align-items: center;
        }
        /* 搜索框容器样式 */
        .search-container {
            position: relative;
            margin-right: 20px;
        }
        .search-form {
            display: flex;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 25px;
            overflow: hidden;
        }
        .search-form input[type="text"] {
            flex: 1;
            padding: 10px 15px;
            border: none;
            outline: none;
            font-size: 16px;
        }
        .search-form input[type="submit"] {
            background-color:  #e99;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            font-size: 16px;
            border-radius: 25px;
            transition: background-color 0.3s ease;
        }
        .search-form input[type="submit"]:hover {
            background-color: #d88;
        }
        /* 搜索图标样式 */
        .search-icon {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
            font-size: 20px;
        }
    </style>
</head>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <a class="navbar-brand font-weight-bolder mr-3" href="/static/assets/img/img.png"><img src="/static/assets/img/logo.png"></a>
    <button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsDefault">
    	<ul class="navbar-nav mr-auto align-items-center">
		 <li class="nav-item">
                <div class="search-container">
                    <form action='/dev/index/' method='post' class="search-form">
                        {% csrf_token %}
                        <i class="search-icon fas fa-search"></i>
                        <input type="text" name="search" placeholder="Search..." required>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </li>
    	</ul>
    	<ul class="navbar-nav ml-auto align-items-center">
    		<li class="nav-item">
    		<a class="nav-link active" href="">Home</a>
    		</li>
    		<li class="nav-item">
    		<a class="nav-link" href="../post">Comment</a>
    		</li>
    		<li class="nav-item">
    		<a class="nav-link" href="../author"><img class="rounded-circle mr-2" src="/static/assets/img/av.png" width="30"><span class="align-middle">Me</span></a>
    		</li>
    		<li class="nav-item dropdown">
    		<a class="nav-link" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		<svg style="margin-top:10px;" class="_3DJPT" version="1.1" viewbox="0 0 32 32" width="21" height="21" aria-hidden="false" data-reactid="71"><path d="M7 15.5c0 1.9-1.6 3.5-3.5 3.5s-3.5-1.6-3.5-3.5 1.6-3.5 3.5-3.5 3.5 1.6 3.5 3.5zm21.5-3.5c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5zm-12.5 0c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z" data-reactid="22"></path></svg>
    		</a>
    		<div class="dropdown-menu dropdown-menu-right shadow-lg" aria-labelledby="dropdown02">
    			<h4 class="dropdown-header display-4">Easter Egg !</h4>
    			<div class="dropdown-divider">
    			</div>
    			<span class="dropdown-item"><a href="../chat" class="btn btn-primary d-block"><i class="fa fa-child"></i> Try now</a></span>
    		</div>
    		</li>
    	</ul>
    </div>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>

    </nav>
    <main role="main">


    <section class="mt-4 mb-5">
    <div class="container mb-4">
    	<h1 class="font-weight-bold title">MovieMate</h1>
    	<div class="row">
    		<nav class="navbar navbar-expand-lg navbar-light bg-white pl-2 pr-2">
    		<button class="navbar-light navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExplore" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"></span>
    		</button>
    		<div class="collapse navbar-collapse" id="navbarsExplore">
    			<ul class="navbar-nav">
    				<li class="nav-item">
    				<a class="nav-link" href="#">Action</a>
    				</li>
    				<li class="nav-item">
    				<a class="nav-link" href="#">Commedy</a>
    				</li>
    				<li class="nav-item">
    				<a class="nav-link" href="#">Romantics</a>
    				</li>
    				<li class="nav-item dropdown">
    				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
    				<div class="dropdown-menu shadow-lg" aria-labelledby="dropdown01">
    					<a class="dropdown-item" href="#">Astronomy</a>
    					<a class="dropdown-item" href="#">Nature</a>
    					<a class="dropdown-item" href="#">Cooking</a>
    					<a class="dropdown-item" href="#">Fashion</a>
    					<a class="dropdown-item" href="#">Wellness</a>
    				</div>
    				</li>
    			</ul>
    		</div>
    		</nav>
    	</div>
    </div>
    <div class="container-fluid">
    	<div class="row">
    		<div class="card-columns">
    			<div class="card card-pin">
    				<img class="card-img" id = "1" src= "" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "2" src= "https://img9.doubanio.com/view/photo/l_ratio_poster/public/p2898667490.jpg" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "3" src="https://img9.doubanio.com/view/photo/l_ratio_poster/public/p2898667490.jpg" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "4" src="https://images.unsplash.com/photo-1488353816557-87cd574cea04?ixlib=rb-0.3.5&s=06371203b2e3ad3e241c45f4e149a1b3&auto=format&fit=crop&w=334&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "5" src="https://images.unsplash.com/photo-1518450757707-d21c8c53c8df?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c88b5f311958f841525fdb01ab3b5deb&auto=format&fit=crop&w=500&q=60" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "6" src="https://images.unsplash.com/photo-1483190656465-2c49e54d29f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7c4d831daffc28f6ce144ae9e44072e2&auto=format&fit=crop&w=500&q=60" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "7" src="https://images.unsplash.com/photo-1501813531019-338a4182efb0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ad934c7483b928cae6b0b9cde5ae3445&auto=format&fit=crop&w=500&q=60" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "8" src="https://images.unsplash.com/photo-1518542331925-4e91e9aa0074?ixlib=rb-0.3.5&s=6958cfb3469de1e681bf17587bed53be&auto=format&fit=crop&w=500&q=60" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "9" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<div class="card card-pin">
    				<img class="card-img" id = "10" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<div class="card card-pin">
    				<img class="card-img" id = "11" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<div class="card card-pin">
    				<img class="card-img" id = "12" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<div class="card card-pin">
    				<img class="card-img" id = "13" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
				<div class="card card-pin">
    				<img class="card-img" id = "14" src="https://images.unsplash.com/photo-1513028179155-324cfec2566c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32ce1df4016dadc177d6fce1b2df2429&auto=format&fit=crop&w=350&q=80" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    			<div class="card card-pin">
    				<img class="card-img" id = "15" src="https://images.unsplash.com/photo-1516601255109-506725109807?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ce4f3db9818f60686e8e9b62d4920ce5&auto=format&fit=crop&w=500&q=60" alt="Cover">
    				<div class="overlay">
    					<h2 class="card-title title">Movie Information</h2>
    					<div class="more">
    						<a href="post.html">
    						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    </section>

    </main>

    <script src="/static/assets/js/app.js"></script>
    <script src="/static/assets/js/theme.js"></script>

    <footer class="footer pt-5 pb-5 text-center">

    <div class="container">
		<a class="nav-link" href="#">Contact us:</a>

          <div class="socials-media">

            <ul class="list-unstyled">
<!--              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-twitter"></i></a></li>-->
<!--              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-instagram"></i></a></li>-->
<!--              <li class="d-inline-block ml-1 mr-1"><a href="#" class="text-dark"><i class="fa fa-google-plus"></i></a></li>-->
              <li class="d-inline-block ml-1 mr-1"><a href="weixin://contacts/profile/john13392127469" class="text-dark"><i class="fa fa-wechat"></i></a></li>
              <li class="d-inline-block ml-1 mr-1"><a href="https://github.com/TTiannaiTT/MovieMate" class="text-dark"><i class="fa fa-github"></i></a></li>
			  <li class="d-inline-block ml-1 mr-1"><a href="mailto:213221787@seu.edu.cn" class="text-dark"><i class="fa fa-envelope"></i></a></li>
            </ul>

          </div>

            <!--
              All the links in the footer should remain intact.
              You may remove the links only if you donate:
              https://www.wowthemes.net/freebies-license/
            -->
          <p>©  <span class="credits font-weight-bold">
            <a target="_blank" class="text-dark" href="https://ttiannaitt.github.io/">MovieMate Website & chatbot by <u>Yukun Tian;</u></a>
          </span>
			  <span class="credits font-weight-bold">
			  <a target="_blank" class="text-dark" href="https://github.com/yuqiansheng">MM Rating by <u>ZiHan Liu;</u></a>
			</span>
			  <span class="credits font-weight-bold">
			  <a target="_blank" class="text-dark" href="https://github.com/cyber-lin">Database by<u>Junlin Chen.</u></a>
			</span>
          </p>


        </div>

    </footer>

<script>
    document.addEventListener('DOMContentLoaded', function() {

        // 创建一个新的 XMLHttpRequest 对象
        var xhr = new XMLHttpRequest();
        // 配置请求类型、URL 以及异步处理方式
        xhr.open('GET', '/static/assets/userData/home.json', true);
        // 设置请求头，指明接受 JSON 格式的响应
        xhr.setRequestHeader('Content-Type', 'application/json');
        // 当请求完成时执行的函数
        xhr.onload = function() {
            if (this.status === 200) {
                try {
                    // 解析 JSON 响应文本
                    var data = JSON.parse(this.responseText);
                    // 假设 JSON 文件中有一个名为 imgurls 的数组
                    var imageUrls = data.imgurls;
                    // 获取所有 card-pin 元素
                    var cards = document.querySelectorAll('.card-pin');
                    // 将图片 URL 设置到 card-pin 的 img 元素上

                    cards.forEach(function(card, index) {
                        if (imageUrls[index]) { // 确保有对应的 URL
                            card.querySelector('.card-img').src = imageUrls[index];
                        }
                    });

					var links = document.querySelectorAll('.more a');
					var detail_Urls = data.detail_urls;
					links.forEach(function(link, index) {
					link.href = detail_Urls[index];
				});


                } catch (e) {
                    console.error('Error parsing JSON!', e);
                }
            }
        };
        // 发送请求
        xhr.send();

            // 获取搜索按钮
<!--        var searchButton = document.getElementById('search-button');-->

<!--        // 绑定点击事件-->
<!--        searchButton.addEventListener('click', function(event) {-->
<!--            // 阻止表单的默认提交行为-->
<!--            event.preventDefault();-->

<!--            // 获取输入框的值-->
<!--            var searchTerm = document.getElementById('search-input').value;-->

<!--            // 构建跳转的 URL-->
<!--&lt;!&ndash;            var newUrl = 'https://example.com/search?query=' + encodeURIComponent(searchTerm);&ndash;&gt;-->
<!--			var newUrl = 'http://127.0.0.1:8000/dev/post/'-->
<!--            // 跳转到指定网址-->
<!--            window.location.href = newUrl;-->
<!--&lt;!&ndash;			window.location.reload(true);&ndash;&gt;-->

<!--        });-->

    });
</script>


</body>

</html>
